/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'Segoe UI', sans-serif;
    background-color: #050505; /* Fundo Black total */
    color: #d1d1d1; 
    line-height: 1.6;
}

header {
    /* Gradiente de Luxo: Preto para Cinza Chumbo */
    background: linear-gradient(180deg, #1a1a1a 0%, #050505 100%); 
    color: #e6b325; /* Dourado mais vivo */
    padding: 5rem 1rem;
    text-align: center;
    border-bottom: 3px solid #e6b325;
    text-transform: uppercase;
    letter-spacing: 4px;
}

main {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 1rem;
}

h2 {
    border-left: 5px solid #e6b325;
    padding-left: 15px;
    margin-bottom: 1.5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#sobre {
    background: #111; /* Box escuro */
    padding: 2.5rem;
    border-radius: 15px;
    margin-bottom: 2rem;
    border: 1px solid #222;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* Layout da Galeria */
.container-imagens {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap; /* Garante que não quebre em telas menores */
}

figure {
    background: #161616;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.7);
    flex: 1;
    min-width: 280px;
    text-align: center;
    border: 1px solid #222;
    transition: 0.3s;
}

figure:hover {
    border-color: #e6b325;
    transform: translateY(-5px);
}

img {
    width: 100%;
    height: 350px; /* Aumentei a altura para destacar mais */
    object-fit: cover; 
    
    /* ADICIONE ISSO AQUI: Garante que o rosto (topo da imagem) apareça */
    object-position: top; 
    
    border-radius: 10px;
    filter: brightness(0.8);
    transition: 0.5s ease;
}

img:hover {
    filter: brightness(1.1);
}

figcaption {
    margin-top: 15px;
    font-weight: bold;
    color: #e6b325;
    text-transform: uppercase;
    font-size: 0.8rem;
}

ul {
    list-style: none;
    padding: 2rem;
    background: #000;
    color: #aaa;
    border-radius: 15px;
    border: 1px solid #e6b325;
}

ul li {
    padding: 15px 0;
    border-bottom: 1px solid #1a1a1a;
}

ul li:last-child {
    border-bottom: none;
}

footer {
    text-align: center;
    padding: 4rem;
    font-size: 0.7rem;
    color: #444;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Estilo do Menu */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #000;
    border-bottom: 1px solid #1a1a1a;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul li a {
    color: #666;
    text-decoration: none;
    font-weight: bold;
    padding: 0 25px;
    line-height: 70px;
    display: block;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #e6b325;
}